<a href="https://colab.research.google.com/github/Galvezcpe/CPE009A/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
if 5 > 2:
   print("Five is greater than two")

Five is greater than two

In [11]:
#This is a comment
print("Hello world")

Hello world

In [13]:
#This is a comment
print("If 5 > 2")
print("Five is greater than two")

If 5 > 2
Five is greater than two

In [20]:
x = 1
a, b = 0,-1
a, b, c = 0, -1, 2

b = "sally" #This is a type of string
b = int(4)
print(b)

b = float (4)
print (b)

4
4.0

In [21]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [26]:
y = "John"
print (y)
y = 'john'
print (y)

John
john

In [28]:
y = "John"
print (y)
print(type(y))
y = 'john'
print (y)
print(type(y))

John
<class 'str'>
john
<class 'str'>

In [35]:
a = 4
A = "Sally"
#A will not overwrite a

print(A,A)

Sally Sally

In [36]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [39]:
x = y =  z = "four"
print (x)
print (y)
print (z)

four
four
four

In [41]:
x = "very enjoying"
print("Python programming is " + x)

Python programming is very enjoying

In [42]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

In [43]:
10 // 3

3

Arithmetic Operations

In [48]:
x = 5
y = 3
print (x + y)
print (x * y)
print (x / y)
print (x % y)
print (x ** y)
print (x // y)

sum = x + y
product = x * y
division = x / y
modulus = x % y
exponentiation = x ** y

8
15
1.6666666666666667
2
125
1

Assignment Operators

In [66]:
s = 3
s += 3
print(s)
s -= 3
print(s)
s *= 3
print(s)
s /= 3
print (s)
s %= 3
print(s)
s //= 3
print (s)
s **= 3
print(s)

6
3
9
3.0
0.0
0.0
0.0

In [80]:
t,u = 1, 2


print(t == u)
print(t!= u)
print(t > u)
print(t < u)
print(t >=u)

False
True
False
True
False

Logical Operators

In [81]:
x = 10
x < 5 and x < 11

False

In [82]:
x = 10
x < 5 or x < 11

True

In [83]:
x = 10
not( x < 5 and x < 11)

True

In [84]:
x is y

False

Bitwise Operators

In [85]:
x is not y

True

In [92]:
v = 2
v << 1

4

In [93]:
v = 2
v << 2

8

In [94]:
1&2

0

In [95]:
15&15

15